$red_color: rgb(216, 0, 0);

@import "node_modules/bootstrap/scss/bootstrap";

#home {
  height: 100%;
  padding-top: 150px;
  padding-bottom: 130px;
  background: url(images/hotel.jpg);
  background-repeat: no-repeat;
  background-position: cover;
  background-position: center;
}
.name {
  padding-bottom: 50px;
}
.name h1,
.name h2 {
  text-align: center;
}

.name h1 {
  font-family: "Caveat", cursive;
  color: rgb(255, 255, 255);
  font-size: 3rem;
}

.name h2 {
  color: $red_color;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 2rem;
}

form {
  color: white;
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.63);
  border-radius: 15px;
}

form h3 {
  margin: 10px auto;
  color: aqua;
}

.book button,
.tour button {
  width: 100%;
}

.modal-title {
  color: black;
}

// navigation
nav {
  background-color: $red_color;
}

.navbar-brand {
  font-family: "Caveat", cursive;
  font-size: 2rem;
  color: white;
}

.main-heading {
  text-align: center;
  padding-bottom: 50px;
  font-family: "Caveat", cursive;
  color: rgb(255, 255, 255);
  font-size: 3rem;
}

// history

#history,
#pricing,
#gallery,
#contact {
  background-color: rgb(44, 44, 44);
  padding-top: 50px;
  padding-bottom: 50px;
  color: rgb(204, 204, 204);
}

.history1 {
  font-family: "Pacifico", cursive;
}

.history2 {
  font-family: "Nanum Brush Script", cursive;
}

.history3 img {
  width: 100%;
  overflow: hidden;
}

// pricing

.btn_book a {
  width: 150px;
  text-transform: uppercase;
}

.card img {
  height: 10rem;
  overflow: hidden;
}

.cards {
  margin: 0 auto;
}

// gallery

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.527);
}

// contact

.map,
.icons,
.address {
  margin: 2rem auto;
}

.icons svg {
  width: 70px;
}

.address svg {
  width: 20px;
}
